body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

.login-form {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 170px;
    height: auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    font-size: 14px;
    color: #666;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-container input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.password-container i {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.submit-btn {
    width: 100%;
    background-color: rgb(28, 53, 213);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: rgb(17, 101, 218);
}

.register-text {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.register-text a {
    color: rgb(17, 101, 218);
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover {
    color: rgb(17, 101, 218);
}
